<md-content class="tabsdemoStaticTabs">
    <md-tabs md-dynamic-height="" md-border-bottom="" md-swipe-content="" style="background-color: #949DC9">
        <md-tab label="Deixe sua Opinião" style="color: #757575">
            <md-content class="md-padding"><!--class="table table-responsive"-->
                <div flex lang="row">
                    <div flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50"
                         class="md-whiteframe-z2">
                        <md-content class="md-padding">
                            <div layout="row" layout-sm="column" layout-align="space-around" ng-show="mostraProgressBar">
                                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                            </div>
                            <form name="opiniaoForm">

                                <!--Campo da pergunta (Qual sua opiniao sobre o servico prestado?)-->
                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Qual sua opiniao sobre o servico prestado?</label>
                                        <md-select name="pergunta1" ng-model="opiniao.pergunta1" required ng-disabled="opiniao.baixada">
                                            <md-option value="Otimo">Otimo</md-option>
                                            <md-option value="Bom">Bom</md-option>
                                            <md-option value="Regular">Regular</md-option>
                                            <md-option value="Ruim">Ruim</md-option>
                                            <md-option value="Pessimo">Pessimo</md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="opiniaoForm.pergunta1.$error">
                                            <div ng-message="required">Este campo é obrigatorio</div>
                                        </div>
                                    </md-input-container>


                                    <!--Campo da pergunta (Voce Voltaria a fazer servicos conosco?)-->

                                    <md-input-container flex>
                                        <label>Voce Voltaria a fazer serviços conosco?</label>
                                        <md-select name="pergunta2" ng-model="opiniao.pergunta2" required ng-disabled="opiniao.baixada">
                                            <md-option value="Sim">Sim</md-option>
                                            <md-option value="Nao">Nao</md-option>
                                            <md-option value="Talvez">Talvez</md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="opiniaoForm.pergunta2.$error">
                                            <div ng-message="required">Este campo é obrigatorio</div>
                                        </div>
                                    </md-input-container>


                                </div>

                                <!--Campo da pergunta (Qual sua opiniao com relacao ao atendimento na loja?)-->
                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Qual sua opinião com relação ao atendimento na loja?</label>
                                        <md-select name="pergunta3" ng-model="opiniao.pergunta3" required ng-disabled="opiniao.baixada">
                                            <md-option value="Otimo">Otimo</md-option>
                                            <md-option value="Bom">Bom</md-option>
                                            <md-option value="Regular">Regular</md-option>
                                            <md-option value="Ruim">Ruim</md-option>
                                            <md-option value="Pessimo">Pessimo</md-option>
                                        </md-select>
                                        <div class="errors" ng-messages="opiniaoForm.pergunta3.$error"
                                             ng-if="opiniaoForm.$dirty">
                                            <div ng-message="required">Este campo é obrigatorio</div>
                                        </div>
                                    </md-input-container>


                                    <md-input-container flex>
                                        <label>Quantos KM o veiculo rodou desde o ultimo serviço?</label>
                                        <input type="number" ng-model="opiniao.pergunta5" name="pergunta5" min="1" ng-disabled="opiniao.baixada">

                                        <div ng-messages="opiniaoForm.pergunta5.$error">
                                            <div ng-message="min">A Quilometragem não pode ser menor que 1</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <!--Campo para a identificacao do Cliente da Opiniao-->
                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Cliente</label>
                                        <md-select placeholder="Escolha o cliente" ng-model="opiniao.cliente.id"
                                                   name="cliente" ng-disabled="true" ng-required="true">
                                            <md-option ng-value="cliente.id"
                                                       ng-repeat="cliente in clientes| orderBy:'nome'">
                                                {{cliente.nome}}
                                            </md-option>
                                        </md-select>
                                        <div ng-messages="opiniaoForm.cliente.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <!--Campo para a informacao de como o veiculo esta se comportando-->
                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Como o Veiculo esta se comportando?</label>
                                        <textarea name="pergunta4" ng-model="opiniao.pergunta4" columns="1"
                                                  md-maxlength="100" ng-model-options="{ debounce: 500 }"
                                                  ng-required="true" ng-disabled="opiniao.baixada"></textarea>

                                        <div ng-messages="opiniaoForm.pergunta4.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                            <div ng-message="md-maxlength">Este campo deve conter no maximo 100 caracteres</div>
                                        </div>
                                    </md-input-container>
                                </div>


                                <div layout layout-sm="column">
                                    <md-input-container flex>
                                        <label>Deixe aqui a opinião do cliente a respeito dos serviços e
                                            atendimento</label>
                                        <textarea name="opiniao" ng-model="opiniao.opiniao" columns="1"
                                                  md-maxlength="500" ng-model-options="{ debounce: 500 }"
                                                  ng-required="true" ng-disabled="opiniao.baixada"></textarea>

                                        <div ng-messages="opiniaoForm.opiniao.$error">
                                            <div ng-message="required">Este campo é obrigatorio.</div>
                                            <div ng-message="md-maxlength">Este campo deve conter no maximo 500 caracteres</div>
                                        </div>
                                    </md-input-container>
                                </div>

                                <md-button type="submit" class="md-primary" ng-click="alteraOpiniao(opiniao)" ng-show="!opiniao.baixada"
                                           ng-class="{'md-raised md-hue-1':
                                        (opiniaoForm.$dirty && opiniaoForm.$valid)}" ng-disabled="opiniaoForm.$invalid">
                                    Enviar Opinião
                                </md-button>
                            </form>
                        </md-content>
                    </div>
                </div>
        </md-tab>

        <md-tab label="Ajuda">
            <md-content class="md-padding">
                <md-card>
                    <md-card-content style="color: #757575">
                        <h1>Opinião sobre o serviço prestado</h1>

                        <p>Nesta pagina basta informar os dados da opinião a cerca do serviço, e assim que todos
                            os dados estiverem OK, o botão "Enviar Opinião" ficara Azul, basta então clicar no mesmo
                            para que a opinião seja salva.</p>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>