<md-content class="tabsdemoStaticTabs">
    <md-tabs md-dynamic-height="" md-border-bottom="" md-swipe-content="" style="background-color: #949DC9">

        <md-tab label="Obrigado">
            <md-content class="md-padding">
                <md-card>
                    <md-card-content style="color: #757575">
                        <h1>Muito Obrigado por sua Opiniao</h1>
                    </md-card-content>
                </md-card>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>